

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#lcol {vertical-align:top;}

#header a {
  color: #00B7FF;
}
#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:absolute;
    top:0px;
    right:0px
}

#header li{
    float: left;
    background-color: #333;
    list-style-type: none;

}

#header li a {
    display: block;
    color: white;
    text-align: center;
    list-style-type: none;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#header li a:hover {
    background-color: #111;
}
#header .active {
    background-color: #4CAF50;
}
