

html, body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  height: 100%;
  position: relative;
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom:250px;
}
#container{
  min-height: calc(100vh - 260px);
  position: relative;
  margin 0 auto;
}
#body
{
  padding: 10px;
  padding-bottom: 250px
}

#lcol {vertical-align:top;}
h1,h2 {
  font-weight: bold;
  font-size: 20;
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  min-width: 500px
  position:relative;
  z-index: 0;
  overflow: auto;
}

iframe
{
  padding-left: 20%;
  position: relative;
  outline: none;
  border-width: "0";
  align: center;
}
h3
{
  padding-left: 20%;
  padding-right: 20%;
  z-index: 0;
  text-align: justify;
}
p, ul, center{
  margin: 0 auto;
  min-width: 500px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
}
img{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  resize: both;
  overflow: auto;
  align-items: center;
}
form{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30px;
  resize: both;
  overflow: auto;
}
title{
  font-weight: bold;
  font-size: 20;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    overflow: hidden;
    background-color: #d6b03b;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width:100%; /* Full width */
    padding: 0;
    z-index: 1;
}
/* Links inside the navbar */
.navbar a:first-child {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 1;
}
/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: yellow;
    color: black;
    font-weight: bold;
}
#footer {
  height: 250px;
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: black;
}
#footer ul.menu > li > a {
  color: white;
	font-size: 13px;
	padding: 11px;
	height: 61px;
	line-height: 61px;
  color: white;

}
#footer .copyright {
	color: #444444;
	font-size: 12px;
	margin-bottom: -20px;
  text-align: center;
  background-color: #000000;
}
li{
    list-style: none;
    list-style:none;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
ul li{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.social-widget {
	height: 120px;
	width: 60px;
	position: fixed;
	left: 0;
	top: 47%;
	background: #000000;
}
.social-widget > div {
	width: 26px;
	height: 26px;
	padding: 17px;
	float: left;
}
.social-widget img {
	height: 26px;
	max-width: none;
}
