

body {
  padding: 0px;
  background-color:	#F5F5F5;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  }

#lcol {vertical-align:top;}

h1 {
  font-weight: bold;
  font-size: 20;
  padding-right: 500px;
  padding-left: 300px;
}
h2
{
  padding-right: 500px;
  padding-left: 300px;
}
iframe
{
  padding-left: 300px;
  position: absolute;
  outline: none;
  border-width: "0";
  position: absolute;
  align: center;
}
h3
{
  padding-right: 500px;
  padding-left: 300px;
}
p{
  padding-right: 500px;
  padding-left: 300px;
}
img{
  padding-right: 300px;
  padding-left: 300px;
}
form{
  padding-right: 300px;
  padding-left: 300px;
}
title{
  font-weight: bold;
  font-size: 20;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    overflow: hidden;
    background-color: #d6b03b;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 98.9%; /* Full width */
    padding: 0;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: yellow;
    color: black;
}

/* Main content */
.body {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
overlay */
}
